<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="classes" class="com.Classes">
        <constructor-arg ref="student"/>
    </bean>
    <bean name="student" class="com.Students">
        <constructor-arg value="小关"/>
        <constructor-arg value="男"/>
        <constructor-arg value="19"/>
    </bean>
</beans>
